.btnNav{
    padding: 11px !important;
    color: azure !important;
}

.dropdown{
    padding: 3px;
    text-align: center;
    margin-top: 5px;
    background-color: rgba(8, 89, 131, 0.8);
}

.dropdown-menu > a{
    background-color: rgba(8, 89, 131, 0.8);
    color: azure;
    padding: 8px;
}

.dropdown-menu > a:hover{
    color: azure;
    background-color: rgba(8, 89, 131, 0.8);
    padding: 7.9px;
}

.dropdown button:hover, a:hover{
    border: azure solid 0.1px;
    border-radius: 5px;
    color: azure;
}

.tabela_head{
    color: #085983;
    background-color: azure;
    border-left: black;
}

tr th{
    width: 5%;
    height: 5px;
    padding: 20px;
    border: 1px solid;

    text-align: center;
}

#infMedico {
    display: none;
}